# common
__pycache__
.history
env
main.build
main.dist
main.onefile-build
customeel/__pycache__
customjoycon/__pycache__
nuitka-crash-report.xml
tempCodeRunnerFile.py

# joyconverter
front/.history
front/.vscode
front/node_modules
web/assets/icons
web/exported_profiles

# zenbook
.VSCodeCounter
JoyConverter.exe
tests
tmp
メモ.txt
環境構築手順.txt
設計.txt
env2/
env3/

# mac
.DS_Store
main.app
JoyConverter.app
